MONGODB_URI=mongodb://127.0.0.1:27017/event_monitor
PORT=1234
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=system.events
KAFKA_GROUP=limits-group
KAFKA_CLIENT=test-producer
KAFKA_MESSAGE_CONCURRENCY=5
KAFKA_PARTITIONS_CONCURRENCY=1